<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/com/example/login/style.css">
	<title>Login</title>
</head>
<body>
<h2>Sign in/up Form</h2>
<div class="form-container sign-in-container">
	<form th:action="@{/signup}" th:object="${RegisterAccountForm}" method="post">
		<h1>Sign in</h1>
		<div class="social-container">
			<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
			<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
			<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
		</div>
		<span>or use your account</span>
		<input name="name" th:field="*{name}" type="text" placeholder="Name" />
		<div th:if="${fieldErrors != null}" th:text="${fieldErrors['name']}" class="error-message"></div>
		<input name="email" th:field="*{email}" type="email" placeholder="Email" />
		<div th:if="${fieldErrors != null}" th:text="${fieldErrors['email']}" class="error-message"></div>
		<input name="password" th:field="*{password}" type="password" placeholder="Password" />
		<div th:if="${fieldErrors != null}" th:text="${fieldErrors['password']}" class="error-message"></div>
		<button type="submit">Sign Up</button>
	</form>
</div>
<div class="overlay-container">
	<div class="overlay">
		<div class="overlay-panel overlay-left">
			<h1>Welcome Back!</h1>
			<p>To keep connected with us please login with your personal info</p>
			<button class="ghost" id="signIn">Sign Up</button>
		</div>
		<div class="overlay-panel overlay-right">
			<h1>Hello, Friend!</h1>
			<p>Enter your personal details and start journey with us</p>
			<a th:href="@{/login}"><button class="ghost" id="signUp">Sign In</button></a>
		</div>
	</div>
</div>
</div>
</body>
</html>
